@using SNB.Web.Models
@model SNB.Web.Models.ChangePsswordViewModel


@using (Html.BeginForm("UserPasswordChange", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>User Name</label>
                    <input type="text" value="@AuthenticatedUser.GetUserFromIdentity().Username.ToLower()" readonly="readonly" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Current password</label>
                    <input type="password" value="password" readonly="readonly" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>New Password</label>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="col-md-6">
                    <label>Confirm Password</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

}