@model SNB.Web.Models.RegistrationByUserModel


@using (Html.BeginForm("UserProfileEdit", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "userRegisterEditForm" }))
{
    
    @Html.AntiForgeryToken()
    @Html.Hidden("InitialUserName", Model.UserName)
    @Html.Hidden("InitialEmail", Model.Email)
    @Html.HiddenFor(model => model.Id)

    <div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.UserName)
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholeder = "User Name" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.MobileNumber)
                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control", @placeholeder = "Mobile No" })
                    @Html.ValidationMessageFor(model => model.MobileNumber)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.FullName)
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholeder = "Name" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Gender)
                    @{
                        var genderList = new List<SelectListItem>();
                        genderList.Add(new SelectListItem() { Text = "Male", Value = "Male" });
                        genderList.Add(new SelectListItem() { Text = "Female", Value = "Female" });
                    }
                    @Html.DropDownListFor(model => model.Gender, new SelectList(genderList, "Value", "Text"), "---Select Gender---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholeder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="col-md-6">
                    <label>Profile Image</label>
                    <input name="ImageFileBase" id="ImageFileBase" type="file" class="form-input-styled" data-fouc>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholeder = "Address" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

}