@model SNB.Web.Models.UserRoleModel

@{
    ViewBag.Title = "User Role";
}

<!-- Content area -->
<div class="content">

    <!-- Basic layout-->
    <div class="card border-teal">
        <div class="card-header header-elements-inline bg-teal">
            <h3 class="card-title"><strong>User Role</strong></h3>
            <div class="header-elements">
                <div class="list-icons">
                    <a href="@Url.Action("Roles","User")" class="list-icons-item"><i class="icon-arrow-left52"></i></a>
                </div>
            </div>
        </div>
        @*<hr class="hr-mar-reduce" />*@
        <div class="card-body">
            @using (Html.BeginForm("EditRole", "User", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.Hidden("InitialRoleName", Model.RoleName)
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">@Html.DisplayNameFor(model => model.RoleName)</label>
                            <div class="col-lg-6">

                                @if (Model.RoleName == "Admin")
                                {
                                    @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control input-sm", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control input-sm" })
                                }
                                @Html.ValidationMessageFor(model => model.RoleName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-md-11">
                        <input class="" data-val="true" data-val-required="The IsActive field is required." id="checkAllCheckBox" type="checkbox" value="true" />
                        <label for="checkAllCheckBox"> Check All </label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <div class="row" id="roleTaskCheckboxesArea" style="margin-bottom: 15px;">
                            @if (Model.RoleTaskList.Count > 0)
                            {
                                int i = 0;
                                foreach (var roleTaskPerCat in Model.RoleTaskList.GroupBy(x => x.PermissionCategory))
                                {
                                    <div class="col-md-3 mb-3">
                                        <label class="font-weight-semibold">@roleTaskPerCat.Key.ToString()</label><br />
                                        @foreach (var item in roleTaskPerCat)
                                        {
                                            @Html.HiddenFor(model => model.RoleTaskList[i].PermissionName)
                                            <label> @Html.CheckBoxFor(model => model.RoleTaskList[i].IsChecked, new { @class = "checkboxFor" }) @item.PermissionName.Replace("_", " ")</label><br />
                                            i++;
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <span>No Roles Permission available</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <a href="@Url.Action("Roles","User")" class="btn btn-light"><i class="fa fa-times-circle text-danger"></i> Cancel</a>
                        <button type="submit" class="btn bg-success ml-3 btn-xs"><i class="fa fa-save"></i> Update</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /basic layout -->
</div>
<!-- /content area -->

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#tableOne thead tr th:first input:checkbox").click(function () {
            $("#checkAllCheckBox").click(function () {
                var checkedStatus = this.checked;
                //$("#tableOne tbody tr td:first-child input:checkbox").each(function () {
                $("#roleTaskCheckboxesArea input:checkbox").each(function () {
                    this.checked = checkedStatus;
                });
            });
        });
    </script>
}