@model IEnumerable<SNB.Entities.Property>
@{
    ViewBag.Title = "Property";
    var serial = 1;
}

<!-- Table with togglable columns -->
<div class="card border-teal">
    <div class="card-header header-elements-inline bg-teal">
        <h5 class="card-title"><strong>Property</strong></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a href="@Url.Action("NewProperty","Property")" class="list-icons-item text-white" title="New Property"><i class="icon-plus3"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        
    </div>
    <table class="table table-togglable table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th data-toggle="true">@Html.DisplayNameFor(model => model.PropertyTitle)</th>
                <th data-hide="phone">@Html.DisplayNameFor(model => model.PropertyName)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.PropertyTypeId)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.DistrictId)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.AreaId)</th>
                @*<th data-hide="phone">Status</th>*@
                <th class="text-center" style="width: 30px;">@*<i class="icon-menu-open2"></i>*@ Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="serial">@(serial++)</td>
                    <td>@item.PropertyTitle</td>
                    <td>@item.PropertyName</td>
                    <td>@item.PropertyType.TypeName</td>
                    <td>@item.District.DistrictName</td>
                    <td>@item.Area.AreaName</td>
                    @*<td><span class="badge badge-success">Active</span></td>*@
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Action("Details","Property", new { id = item.Id })" class="dropdown-item text-info"><i class="icon-eye"></i> Details</a>
                                    <a href="@Url.Action("Edit","Property", new { id = item.Id })" class="dropdown-item text-primary"><i class="icon-pencil7"></i> Edit</a>
                                    <a href="@Url.Action("Delete","Property", new { id = item.Id })" class="dropdown-item text-danger"><i class="icon-bin"></i> Delete</a>
                                    <a href="@Url.Action("NewSeatingAllocation","SeatingAllocation", new { propertyId = item.Id })" class="dropdown-item text-primary"><i class="icon-plus-circle2"></i> New Allocation</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- table with togglable columns -->

@section scripts{
    @Scripts.Render("~/bundles/table-responsive")
}
