@using System.Collections
@using SNB.Web.Models
@model IEnumerable<SNB.Entities.PropertyType>

@{
    ViewBag.Title = "Index";
}


<div class="content">
    <div class="card border-teal">
        <div class="card-header bg-teal  header-elements-inline">
            <h6 class="card-title"><strong>PropertyType</strong></h6>
            <div class="header-elements">
                <div class="list-icons">
                    @*<a href="#" class="list-icons-item text-primary-600"><i class="icon-plus3"></i></a>*@
                </div>
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-xs table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>

                                    <th>@Html.DisplayNameFor(model => model.TypeName)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ var rowCount = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rowCount++)</td>

                                            <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
                                            <td>
                                                <div class="list-icons">
                                                    <a href="#" onclick="getDataForEdit('@item.Id')" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                    <a href="#" onclick="delete_Data('@item.Id')" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    @{PropertyTypeModel PropertyTypeModel = new PropertyTypeModel();}
                    @Html.Partial("~/Views/PropertyType/_PropertyTypeAddOdEdit.cshtml", PropertyTypeModel)
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-call")
    <script>

        function delete_Data(id) {
                var url = '@Url.Action("Delete", "PropertyType")';
                var paramData = { id: id };
                 delete_confirm(url, paramData);
              //   ajaxCall(url, paramData, "renderRemoveItem");
            }
        function getDataForEdit(id) {
                var url = '@Url.Action("LoadPropertyType", "PropertyType")';
                var paramData = { id: id };
            ajaxCall(url, paramData, "renderPropertyTypeEntryLoad");

            }
        function renderPropertyTypeEntryLoad(data) {
                var editUrl = '@Url.Action("Edit", "PropertyType")';
            $('#PropertyTypeCreateForm').attr('action', editUrl);
            $("#PropertyTypeId").val(data.Id);
            $("#TypeName").val(data.TypeName);
            $("#InitialTypeName").val(data.TypeName);              
            $("#submitButton").html('<i class="fa fa-save"></i> Update');
            }
    </script>
}