
@model  SNB.Web.Models.SeatingTypeModel
@{
    ViewBag.Title = "Area";
}
@using (Html.BeginForm("Add", "SeatingType", FormMethod.Post, new { @class = "form-horizontal", @id = "SeatingTypeCreateForm" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Or Edit</h5>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id, new { @id = "SeatingTypeId" })
            @Html.Hidden("InitialTypeName", "undefined")
            
            <div class="form-group row">
                @Html.LabelFor(model => model.TypeName, new { @class = "col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.TypeName)
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="@Url.Action("Index","SeatingType")" class="btn btn-danger btn-custom"><i class="fa fa-times-circle text-white"></i> Cancel</a>
                <button type="submit" id="submitButton" class="btn  bg-teal btn-custom pull-right "><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
}