@using SNB.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - @DefaultValue.CompanyShortName</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/theme-global")
    @Styles.Render("~/Content/site")

</head>
<body>

    @Html.Partial("_NavBarPartial")
    @*@Html.Partial("_HeaderPartial")*@
    <div class="mb-3"></div>

    <div class="page-content pt-0">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">

                @RenderBody()

            </div>
        </div>
    </div>


    @Html.Partial("_FooterPartial")


    @Scripts.Render("~/bundles/theme-core")
    @*@Scripts.Render("~/bundles/sticky")*@

    @Scripts.Render("~/bundles/theme-app")
    @Scripts.Render("~/bundles/navbar-sticky")
    @Scripts.Render("~/bundles/sweet-alert")

    @Scripts.Render("~/bundles/common")

    @RenderSection("scripts", required: false)
</body>
</html>
