@model SNB.Web.Models.PropertyBookingModel
@using SNB.Common

<style>
    .cust-details-row {
        margin: 2px;
    }

        .cust-details-row label {
            font-weight: bold;
        }
</style>


<div class="row justify-content-md-center">

    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.Property.PropertyTitle)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.Property.PropertyTitle)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.Property.PropertyName)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.Property.PropertyName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.Property.District.DistrictName)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.Property.District.DistrictName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.Property.Address)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.Property.Address)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.Property.ContactNo)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.Property.ContactNo)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.Status)</label>
            <div class="col-lg-6">
                <span class="badge @CustomColor.PropertyBookingStatus(Model.Status??0)">@((EnumPropertyBookingStatus)(Model.Status ?? 0))</span>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.SeatingAllocationTitle)</label>
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.SeatingAllocation.SeatingAllocationTitle)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.SeatingAllocation.AvailableDate)</label>
            <div class="col-lg-6">
                @(Model.SeatingAllocation.AvailableDate != null ? Model.SeatingAllocation.AvailableDate.Value.ToString("dd-MMM-yyyy") : "")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.ConfirmDate)</label>
            <div class="col-lg-6">
                @(Model.ConfirmDate != null ? Model.ConfirmDate.Value.ToString("dd-MMM-yyyy") : "")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.FromDate)</label>
            <div class="col-lg-6">
                @(Model.FromDate != null ? Model.FromDate.Value.ToString("dd-MMM-yyyy") : "")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayNameFor(model => model.ToDate)</label>
            <div class="col-lg-6">
                @(Model.ToDate != null ? Model.ToDate.Value.ToString("dd-MMM-yyyy") : "")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3">@Html.DisplayName("Booked Date")</label>
            <div class="col-lg-6">
                @(Model.CreatedAt != null ? Model.CreatedAt.Value.ToString("dd-MMM-yyyy") : "")
            </div>
        </div>
    </div>
</div>


